<h1>Contacts</h1>

<p>
  <%= link_to "New Contact", new_contact_url %>
</p>

<table>
  <thead>
    <td><b>Name</b></td>
    <td><b>Email</b></td>
    <td><b>Phone</b></td>
  </thead>
<% @contacts.each do |c| %>
  <tr>
    <td><%= link_to "#{c.first_name} #{c.last_name}", c %></td>
    <td><%= c.email %></td>
    <td><%= number_to_phone(c.phone) %></td>
  </tr>
<% end %>
</table>
